.about-slider__list {
  margin: 0;
  padding: 7px;

  box-shadow: 1px 1px 10px 2px transparentize($basic-black-light, 0.75);

  list-style: none;
  box-sizing: border-box;

  overflow: hidden;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.about-slider__item {
  position: relative;

  display: none;
  justify-content: center;
  height: 350px;

  overflow: hidden;

  @media (max-width: $tablet-width) {
    align-items: center;
    height: 390px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  @media (max-width: $mobile-width) {
    height: auto;
    height: 200px;

    img {
      max-width: none;
      width: 120%;
    }
  }
}

.about-slider__item--active {
  display: flex;
  animation-name: fade;
  animation-duration: 0.5s;
}

.about-slider__controls {
  position: absolute;
  bottom: -40px;

  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width) {
    bottom: -50px;
  }
}

.about-slider__toggle {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border: none;

  background-color: transparent;

  box-sizing: border-box;

  cursor: pointer;

  &::after {
    content: "";
    position: absolute;

    width: 14px;
    height: 14px;

    border-radius: 50%;

    background-color: transparentize($basic-black-light, 0.5);
  }
}

.about-slider__toggle--active {
  &::before {
    content: "";
    position: absolute;
    z-index: 1;

    width: 6px;
    height: 6px;

    background-color: $basic-pink;
    background-color: $basic-yellow;
    border-radius: 50%;
  }
}

.about-slider__buttons-group {
  position: absolute;
  z-index: 3;
  top: calc(50% - 25px);

  display: flex;
  justify-content: space-between;

  width: calc(100% - 14px);

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about-slider__button {
  width: 45px;
  height: 70px;

  background-color: transparentize($basic-black-light, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparentize($basic-black-light, 0.3);
  }

  &:active {
    background-color: transparentize($basic-black-light, 0.7);
  }

  @media (max-width: $mobile-width) {
    width: 35px;
    height: 60px;
  }
}

.about-slider__button--prev {
  background-image: url(".././img/decor/arrow-slider.svg");
}

.about-slider__button--next {
  background-image: url(".././img/decor/arrow-slider.svg");
  transform: rotate(180deg);
}


@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
