.contacts {
  h2 {
    @include section-title;
    width: 100%;
  }
}

.contacts__wrapper {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  color: $basic-black;

  a {
    color: inherit;
    text-decoration: none;

    @include status;
  }
}

.contacts__sublist {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__map {
  display: flex;
  max-width: 50%;
  width: 100%;

  iframe {
    width: 100%;
    height: 450px;
    border: none;
  }
}
