.discount-message {
  background-color: transparentize($basic-pink, 0.1);

  p {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;

    font-size: 18px;
    color: $basic-white;
    text-transform: uppercase;
  }

  @media (max-width: $mobile-width) {
    p {
      max-width: 78%;

      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 14px;
    }
  }
}

.discount-message__wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-message__close {
  padding: 0;

  width: 50px;
  height: 50px;

  background-color: transparent;
  background-image: url(".././img/decor/cross-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

  border: none;

  cursor: pointer;

  box-sizing: border-box;

  @include status;

  @media (max-width: $mobile-width) {
    width: 43px;
  }
}

