.footer-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav__item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    font-size: 15px;
    color: $basic-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: transparentize($basic-yellow, 0.15);
    }

    &:active {
      opacity: 0.6;
    }
  }
}
