.footer-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav__item {
  a {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    color: $basic-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: transparentize($basic-yellow, 0.15);
    }

    &:active {
      opacity: 0.6;
    }
  }
}
