.header-contacts {
  background-color: $basic-black-light;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  background-size: 4px 4px;
}

.header-contacts__wrapper {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contacts__list {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  width: 100%;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
    max-width: 65%;
  }

  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.header-contacts__item {
  margin-right: 30px;

  font-size: 14px;
  line-height: 16px;
  color: $basic-white;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $basic-yellow;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 10px;
    font-size: 11px;
  }

  @media (max-width: $mobile-width) {
    display: none;
    font-size: 13px;
  }
}

.header-contacts__item--show {
  display: flex;
}

.header-contacts__button {
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-left: 15px;

  font-size: 14px;
  color: $basic-black-light;
  text-decoration: none;
  background-color: $basic-yellow;
  border-radius: 4px;

  animation: glowing 2000ms infinite;

  &:hover,
  &:focus {
    background-color: #FFBD30;
  }

  &:active {
    color: transparentize($basic-black-light, 0.7);
  }
}

.header-contacts__socials {
  display: flex;
  min-width: 63px;
  max-width: 150px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0px 0px 3px 2px rgba(214, 25, 126, 1);
  }

  50% {
    box-shadow: 0px 0px 3px 4px rgba(214, 25, 126, 1);
  }

  100% {
    box-shadow: 0px 0px 3px 2px rgba(214, 25, 126, 1);
  }
}
