.intro {
  background-color: $basic-black-light;

  background-image: url(".././img/intro-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-attachment: fixed;

  @media (max-width: $tablet-width) {
    background-image: url(".././img/intro-bg-tablet.jpg");
  }

  @media (max-width: $mobile-width) {
    background-image: url(".././img/intro-bg-mobile.jpg");
  }
}

.intro__wrapper {
  @include container;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;

  text-align: center;
  color: $basic-white;

  border: 10px solid $basic-white;

  box-sizing: border-box;


  h2 {
    margin-top: 0;
    margin-bottom: 25px;

    font-family: "BebasNeueRegular", "Arial", sans-serif;
    font-size: 80px;
    letter-spacing: 0.02em;
  }

  p {
    font-size: 20px;
  }

  span {
    display: inline-block;
    align-self: center;
    margin-top: 25px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;

    font-size: 17px;
    text-transform: uppercase;
    color: $basic-white;
    text-align: center;
    letter-spacing: 1px;

    border: 1px dashed $basic-white;
  }

  @media (max-width: $tablet-width) {
    h2 {
      margin-bottom: 15px;
      font-size: 50px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
    padding-left: 0;

    border: none;

    h2 {
      font-size: 38px;
    }

    p {
      font-size: 16px;
    }

    span {
      padding-top: 5px;
      padding-bottom: 5px;

      font-size: 12px;
      font-weight: 700;
    }
  }
}
