.page-main {
  padding-top: 50px;
}

.page-main__anchor {
  margin-top: -110px;
  margin-bottom: 110px;
}

.page-main__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media (max-width: $mobile-width) {
    margin-top: 60px;
    padding-top: 30px;
    min-height: 400px;
    height: auto;
  }
}

.page-main__about {
  @include section-padding;
}

.page-main__offers {
  @include section-padding;
}

.page-main__reviews {
  @include section-padding;
}

.page-main__partners {
  padding-top: 50px;
  padding-bottom: 80px;
}

.page-main__contacts {
  padding-top: 50px;
  padding-bottom: 80px;

  @media (max-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 30px;
  }
}

.page-main__page-not-found {
  padding-top: 170px;
}
