.page-main {
  padding-top: 50px;
}

.page-main__anchor {
  margin-top: -110px;
  margin-bottom: 110px;
}

.page-main__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-main__about {
  @include section-padding;
}

.page-main__offers {
  @include section-padding;
}

.page-main__reviews {
  @include section-padding;
}

.page-main__partners {
  padding-top: 50px;
  padding-bottom: 80px;
}

.page-main__contacts {
  padding-top: 150px;
  padding-bottom: 80px;
}
