.page-header {
  position: fixed;
  z-index: 10;
  width: 100%;

  box-shadow: 0 3px 6px transparentize($basic-black-light, 0.6);
}

.page-header__header-contacts {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.page-header__main-nav {
  padding-top: 13px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.page-header__discount-message {
  display: none;
}

.page-header__discount-message--show {
  display: block;
}

