.page-body {
  display: grid;
  grid-template-rows: auto max-content auto;
  min-width: 320px;

  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
