.product {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;

    background-color: transparentize($basic-black-light, 0.85);
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

.product__content {
  margin-left: 30px;
  width: 100%;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    ul {
      font-size: 14px;
    }
  }
}

.product__image-wrapper {
  max-width: 235px;
  width: 100%;
  min-height: 250px;

  img {
    margin: auto;
    display: flex;
  }
}

.product__image-wrapper--discount {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;

    width: 60px;
    height: 60px;

    background-image: url(".././img/decor/discount-10.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(-10deg);
  }
}

.product__table {
  table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background-color: $basic-black-light;
    color: $basic-white;
  }

  tr {
    text-align: right;
  }

  td,
  th {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;

    &:first-child {
      text-align: start;
    }
  }

  @media (max-width: $mobile-width) {
    table {
      font-size: 14px;
    }

    td,
    th {
      padding-right: 6px;
      padding-left: 6px;
    }
  }
}

.product__note {
  margin-bottom: 15px;

  p {
    font-size: 14px;
    font-style: italic;
  }
}

.product__description {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;

  border-top: 2px dotted transparentize($basic-pink, 0.4);

  p {
    margin-top: 0;
    color: transparentize($basic-black-light, 0.1);
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    border:none;

    p {
      font-size: 14px;
    }
  }
}
