.reviews {
  h2 {
    @include section-title;
  }
}

.reviews__wrapper {
  position: relative;
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews__list {
  margin: 0;
  padding: 0;
  max-width: 70%;

  list-style: none;
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  display: flex;
  animation-name: fade;
  animation-duration: 0.5s;
}

.reviews__author {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
}

.reviews__note {
  margin-top: 30px;

  a {
    margin-left: 5px;
    padding-right: 7px;
    padding-left: 7px;
    font-weight: 700;
    color: #4680C2;
    text-decoration: none;

    border: 1px dashed #4680C2;

    @include status;
  }
}

.reviews__buttons-group {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.reviews__button {
  width: 35px;
  height: 60px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  cursor: pointer;

  @include status;
}

.reviews__button--prev {
  background-image: url("../../img/decor/arrow-slider-dark.svg");
}

.reviews__button--next {
  background-image: url("../../img/decor/arrow-slider-dark.svg");
  transform: rotate(180deg);
}
