.socials--big {
  .socials__item {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet-width) {
    .socials__item {
      width: 35px;
      height: 35px;
    }
  }
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;

  list-style: none;
}

.socials__item {
  display: flex;
  margin-right: 7px;
  width: 28px;
  height: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include status;
}

.socials__link--vkontakte {
  background-image: url(".././img/decor/vk-logo.svg");
}

.socials__link--instagram {
  background-image: url(".././img/decor/instagram-logo.svg");
}
