$basic-white: #ffffff;
$basic-black: #000000;
$basic-black-light: #222222;
$basic-yellow: #ffd501;
$basic-yellow-darker: #ffe501;
$basic-pink: #D6197E;
$bg-section-color: #F7F7F7;
$fancy-color: #63d1bb;
$fancy-color-darker: #56c3b2;
$fancy-color-dark: #149080;

$tablet-width: 1199px;
$mobile-width: 767px;
